In [2]:
import os
import pandas as pd
from sqlalchemy import create_engine
from config import pw

In [3]:
%load_ext sql

In [6]:
# Set up SQL
DB_ENDPOINT = "localhost"
DB = 'online_deals_db'
DB_USER = 'postgres'
DB_PASSWORD = pw
DB_PORT = '5432'

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB)

print(conn_string)

postgresql://postgres:corgi123@localhost:5432/online_deals_db

In [7]:
%sql $conn_string

'Connected: postgres@online_deals_db'

In [8]:
# Load CSV
csv_file = "./1all_sale_items.csv"
deals_df = pd.read_csv(csv_file)
deals_df.head()

,Unnamed: 0,Item,Old Price,Pick Up Notes,Sale Price,Store
0,0,12oz Birch Benders Pancake & Waffle Mix (Paleo...,$48,NaN,$3.75,slickdeals.net
1,1,12oz Birch Benders Pancake & Waffle Mix (Paleo...,$48,NaN,$3.75,slickdeals.net
2,2,12oz Birch Benders Pancake & Waffle Mix (Paleo...,$48,NaN,$3.75,slickdeals.net
3,3,12oz Birch Benders Pancake & Waffle Mix (Paleo...,$48,NaN,$3.75,slickdeals.net
4,4,"Bosch 1""x 10"" SDS-plus Bulldog Rotary Hammer B...",$48,NaN,$6.30\n ...,slickdeals.net

In [9]:
# Connect to local database
# rds_connection_string = "<insert user name>:<insert password>@localhost:5432/customer_db"
rds_connection_string = "postgres:corgi123@localhost:5432/online_deals_db"

engine = create_engine(f'postgresql://{rds_connection_string}')

In [10]:
# Check for tables
engine.table_names()

['deals']

In [11]:
# Load to database, if it exists, it will append
deals_df.to_sql(name='item', con=engine, if_exists='append', index=False)

In [12]:
# Confirm data has been added by querying the customer_name table
pd.read_sql_query('select * from item', con=engine).head()

,Unnamed: 0,Item,Old Price,Pick Up Notes,Sale Price,Store
0,0,12oz Birch Benders Pancake & Waffle Mix (Paleo...,$48,None,$3.75,slickdeals.net
1,1,12oz Birch Benders Pancake & Waffle Mix (Paleo...,$48,None,$3.75,slickdeals.net
2,2,12oz Birch Benders Pancake & Waffle Mix (Paleo...,$48,None,$3.75,slickdeals.net
3,3,12oz Birch Benders Pancake & Waffle Mix (Paleo...,$48,None,$3.75,slickdeals.net
4,4,"Bosch 1""x 10"" SDS-plus Bulldog Rotary Hammer B...",$48,None,$6.30\n ...,slickdeals.net