In [1]:
import os
import pandas as pd
import csv

In [2]:
# Load scraped data csv to Python
master_gr_df = pd.read_csv("groupon.csv")
print(master_gr_df)

      Unnamed: 0                                               Item Old Price  \
0              0  Samsung Fast Adaptive Charger Original 2 Pack ...    $49.99
1              1  Samsung Fast Adaptive Charger Original 2 Pack ...    $49.99
2              2  Samsung Fast Adaptive Charger Original 2 Pack ...    $49.99
3              3  Samsung Fast Adaptive Charger Original 2 Pack ...    $49.99
4              4  Samsung Fast Adaptive Charger Original 2 Pack ...    $49.99
...          ...                                                ...       ...
1346        1346              14K Gold 30mm Thick High Polish Hoops    $84.79
1347        1347  New Genie 13" Acrylic Hookah Combo Set from Pr...       $34
1348        1348  New Genie 13" Acrylic Hookah Combo Set from Pr...       $34
1349        1349              Professor Morty Rolling Set (3-Piece)    $79.99
1350        1350              Professor Morty Rolling Set (3-Piece)    $79.99

     Sale Price
0        $12.99
1        $12.99
2        $12.99
3        $12.99
4        $12.99
...         ...
1346     $39.99
1347     $14.99
1348     $14.99
1349     $17.99
1350     $17.99

[1351 rows x 4 columns]

In [3]:
# Make a copy of dataframe
gr_items_df = master_gr_df

In [4]:
# Adding website to dataframe
gr_items_df["Store"] = "groupon.com"
gr_items_df.head()

,Unnamed: 0,Item,Old Price,Sale Price,Store
0,0,Samsung Fast Adaptive Charger Original 2 Pack ...,$49.99,$12.99,groupon.com
1,1,Samsung Fast Adaptive Charger Original 2 Pack ...,$49.99,$12.99,groupon.com
2,2,Samsung Fast Adaptive Charger Original 2 Pack ...,$49.99,$12.99,groupon.com
3,3,Samsung Fast Adaptive Charger Original 2 Pack ...,$49.99,$12.99,groupon.com
4,4,Samsung Fast Adaptive Charger Original 2 Pack ...,$49.99,$12.99,groupon.com

In [10]:
# Remove extra index column
gr_items_df = gr_items_df.drop(['Unnamed: 0'], axis=1)

In [12]:
gr_items_df.to_csv("1groupon_master.csv")